<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebServices.Properties.Settings>
            <setting name="WebServices_InstituteReference_InstituteBuildingCard_Service"
                serializeAs="String">
                <value>http://genesisnav16.atlas.betpilani.org:8047/BC200/WS/CRONUS%20India%20Ltd./Page/InstituteBuildingCard</value>
            </setting>
            <setting name="WebServices_HostelReference_HostelBuildingCard_Service"
                serializeAs="String">
                <value>http://genesisnav16.atlas.betpilani.org:8047/BC200/WS/CRONUS%20India%20Ltd./Page/HostelBuildingCard</value>
            </setting>
            <setting name="WebServices_StaffReference_StaffQuarterCard_Service"
                serializeAs="String">
                <value>http://genesisnav16.atlas.betpilani.org:8047/BC200/WS/CRONUS%20India%20Ltd./Page/StaffQuarterCard</value>
            </setting>
            <setting name="WebServices_AuditoriumReference_AuditoriumBuilding_Service"
                serializeAs="String">
                <value>http://genesisnav16.atlas.betpilani.org:8047/BC200/WS/CRONUS%20India%20Ltd./Page/AuditoriumBuilding</value>
            </setting>
            <setting name="WebServices_NewProjectReference_Newprojectcard_Service"
                serializeAs="String">
                <value>http://genesisnav16.atlas.betpilani.org:8047/BC200/WS/CRONUS%20India%20Ltd./Page/Newprojectcard</value>
            </setting>
            <setting name="WebServices_ImprovementProjectReference_Improvementprojectcard_Service"
                serializeAs="String">
                <value>http://genesisnav16.atlas.betpilani.org:8047/BC200/WS/CRONUS%20India%20Ltd./Page/Improvementprojectcard</value>
            </setting>
            <setting name="WebServices_OngoingProjectReference_Ongoingprojectcard_Service"
                serializeAs="String">
                <value>http://genesisnav16.atlas.betpilani.org:8047/BC200/WS/CRONUS%20India%20Ltd./Page/Ongoingprojectcard</value>
            </setting>
            <setting name="WebServices_ProjectProgressReference_Projectprogressdetailscard_Service"
                serializeAs="String">
                <value>http://genesisnav16.atlas.betpilani.org:8047/BC200/WS/CRONUS%20India%20Ltd./Page/Projectprogressdetailscard</value>
            </setting>
            <setting name="WebServices_EstimatePrepReference_EstimatePrepCard_Service"
                serializeAs="String">
                <value>http://genesisnav16.atlas.betpilani.org:8047/BC200/WS/CRONUS%20India%20Ltd./Page/EstimatePrepCard</value>
            </setting>
            <setting name="WebServices_ServiceCardReference_ServiceCard_Service"
                serializeAs="String">
                <value>http://genesisnav16.atlas.betpilani.org:8047/BC200/WS/CRONUS%20India%20Ltd./Page/ServiceCard</value>
            </setting>
            <setting name="WebServices_AMCCardReference_AMCCard_Service"
                serializeAs="String">
                <value>http://genesisnav16.atlas.betpilani.org:8047/BC200/WS/CRONUS%20India%20Ltd./Page/AMCCard</value>
            </setting>
            <setting name="WebServices_LandReference_LandCard_Service" serializeAs="String">
                <value>http://genesisnav16.atlas.betpilani.org:8047/BC200/WS/CRONUS%20India%20Ltd./Page/LandCard</value>
            </setting>
            <setting name="WebServices_GeneralLandBuildingReference_GeneralLandBuildingCard_Service"
                serializeAs="String">
                <value>http://genesisnav16.atlas.betpilani.org:8047/BC200/WS/CRONUS%20India%20Ltd./Page/GeneralLandBuildingCard</value>
            </setting>
            <setting name="WebServices_CodeUnitReference_InfraCodeunit" serializeAs="String">
                <value>http://genesisnav16.atlas.betpilani.org:8047/BC200/WS/CRONUS%20India%20Ltd./Codeunit/InfraCodeunit</value>
            </setting>
        </WebServices.Properties.Settings>
    </applicationSettings>
</configuration>